.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 32px;

  width: 150px;
  height: 161px;

  padding: 16px;

  background: var(--background-cart);

  font-size: var(--font-size-s);
  line-height: var(--font-line-s);
  border-radius: 24px;
}

.container button {
  width: 118px;
  height: 48px;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 16px;

  border-radius: 40px;
  border: none;

  background: var(--orange-base);

  font-size: var(--font-size-xs);
  line-height: var(--font-line-xs);
  font-weight: 700;
  color: var(--white-base);

  cursor: pointer;
}