.container {
  width: 100%;

  padding-left: 16px;
  padding-bottom: 16px;

  font-size: var(--font-size-s);
  color: var(--white-base);

  @media (min-width: 820px) {
    position: fixed;
    bottom: 0;
  }

  @media (max-width: 820px) {
    position: relative;
  }
}