.container {
  width: max-content;
  padding-bottom: 16px;

  padding-left: 16px;

  color: var(--white-base);

  font-size: var(--font-size-s);

  @media (min-width: 820px) {
    position: fixed;
    bottom: 0;
  }

  @media (max-width: 820px) {
    position: relative;
  }
}