.container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;

  width: auto;

  padding: 10px;

  cursor: pointer;

  font-family: var(--font-family-main);
  gap: 8px;
}

.container:hover {
  border-radius: 20px;
  background: var(--orange-smooth-light);
}

.nameRow {
  display: flex;
  align-items: flex-start;
  flex-direction: row;

  font-size: var(--font-size-s);
  gap: 8px;
}

.orderRow {
  display: flex;
  align-items: center;
  flex-direction: row;

  width: 100%;
  gap: 10px;
}

.linkBlock {
  text-decoration: none;

  color: inherit;
}