.container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;

  width: auto;

  margin-top: 24px;
  padding: 10px;

  cursor: pointer;

  font-family: var(--font-family-main);
  gap: 8px;
}

.container:hover {
  border-radius: 20px;
  background: var(--orange-smooth-light);
}

.nameRow {
  display: flex;
  align-items: start;
  flex-direction: row;

  font-size: var(--font-size-s);
  gap: 8px;
}

.distanceContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 8px;
}

.bigAsteroid {
  width: 25px;
  height: 25px;
}

.hugeAsteroid {
  width: 35px;
  height: 35px;
}

.nameStyle {
  text-decoration: underline;
}

.orderRow {
  display: flex;
  align-items: center;
  flex-direction: row;

  width: 100%;
  gap: 10px;
}

.linkBlock {
  text-decoration: none;

  color: inherit;
}