@import "reset";
@import "variables/globals";

body {
  display: flex;

  overflow-x: hidden;
  flex-direction: column;

  max-width: 100%;
  height: 100%;

  background: var(--background-main) url("../public/images/planet.svg") no-repeat fixed left 138px;
  background-size: 377px 436px;

  font-family: var(--font-family-main);

  @media (max-width: 820px) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-position-x: -100px;
  }

  @media (max-width: 700px) {
    background-position-x: -200px;
  }

  @media (max-width: 600px) {
    background-position-x: -280px;

  }
}


main {
  position: relative;
  overflow-x: hidden;

  flex-grow: 1;

  width: 100%;
}
