.container {
  display: flex;
  flex-direction: row;
  gap: 30px;

  width: max-content;
  height: 100px;
}

.asteroid {
  width: 50px;
  height: auto;

  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}