@import '../src/styles/variables/mixins';

.container {
  justify-content: space-between;

  width: 100%;
  height: 100%;

  color: #FFF;

  input {
    position: absolute;
    z-index: -1;

    opacity: 0;
  }

  label {
    cursor: pointer;
  }

  input:checked + label {
    text-decoration: underline;
  }

  @include main-padding;
}


.header {
  max-width: 450px;
  height: 108px;

  color: var(--white-base);

  font-family: var(--font-family-main);
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-l);
  line-height: var(--font-line-l);

  @media (max-width: 600px) {
    width: 200px;
  }
}
