@import "src/styles/variables/mixins";

.container {
  flex-direction: column;

  width: max-content;
  height: 100%;

  color: var(--white-base);

  h2 {
    margin-right: 5px;

    color: var(--orange-base);

    font-weight: 400;
  }

  h3 {
    display: inline-block;

    margin-right: 5px;

    font-weight: 400;
  }

  ul {
    list-style: none;
  }

  @include main-padding;
}

.incomingAsteroid {
  position: absolute;
  z-index: -1;
  left: 60%;


  height: auto;

  animation: spin 15s linear infinite;
}

.small {
  top: 12%;

  width: 100px;
}

.big {
  top: 7%;

  width: 200px;
}

.huge {
  top: 2%;

  width: 350px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


