:root {
  --font-family-main: Helvetica, Serif;

  --font-size-xxs: 11px;
  --font-line-xxs: 19px;

  --font-size-xs: 14px;
  --font-line-xs: 22px;

  --font-size-s: 16px;
  --font-line-s: 24px;

  --font-size-m: 24px;
  --font-line-m: 32px;

  --font-size-l: 28px;
  --font-line-l: 36px;
  --font-weight-l: 700;

  --font-size-special: 32px;
  --font-line-special: 40px;

  --orange-base: #F86600;
  --orange-smooth: rgba(248, 102, 0, 0.15);
  --orange-smooth-light: rgba(241, 100, 0, 0.08);
  --white-base: #FFF;
  --background-main: #000;
  --background-cart: #232526;
}