.container {
  margin-top: 24px;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 8px;
  font-family: var(--font-family-main);
  cursor: pointer;
  padding: 10px;
}

.container:hover {
  background: var(--orange-smooth-light);
  border-radius: 20px;
}

.secondRow {
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 8px;
  font-size: var(--font-size-s);
}

.distanceContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.bigAsteroid {
  width: 25px;
  height: 25px;
}

.hugeAsteroid {
  width: 35px;
  height: 35px;
}

.nameStyle {
  text-decoration: underline;
}

.thirdRow {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}


@keyframes blink {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0.5;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.blinkingImage {
  animation: blink 1s infinite;
}