.container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;

  width: 325px;
  height: 123px;
  padding-top: 16px;

  padding-left: 16px;

  color: var(--white-base);
  gap: 8px;
}

.container h1 {
  color: var(--orange-base);

  font-family: var(--font-passion);
  font-size: var(--font-size-special);
  font-weight: 400;
}

.container p {
  font-family: var(--font-family-main);
  font-size: var(--font-size-s);
  line-height: var(--font-line-s);
}

.headerLink {
  text-decoration: none;
}