@import "src/styles/variables/mixins";

.container {
  @include main-padding;
  flex-direction: column;
  justify-content: space-between;

  color: #FFF;
}

.header {
  font-size: var(--font-size-m);
}